<table class="table table-dark">
    <tr>
        <th>نام</th>
        <th>نام خانوادگی</th>
        <th>شماره تماس</th>
        <th>کد کلاس</th>
    </tr>
    @if (ViewBag.st != null)
    {
        foreach (var item in ViewBag.st)
            {
                <td>@item.Name</td>
                <td>@item.Family</td>
                <td>@item.Phone</td>
                <td>@item.ClassCode</td>
            }
    }
</table>